@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
*{
	margin:0px;
	padding:0px;
}
body{
	background-image: url(../img/kukis.jpg);
	background-size: 100vw 100vh;
}
body.outro{
	background-image: none;
}
section{
	display:flex;
	justify-content: center;
}
section.topo{
	width: 100vw;
	height: 10vh;
	position: fixed;
}
#logo{
	width: 10%;
	height: 100%;
}
#logo img{
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height:auto;

}
#menu{
	width:90%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction:column;
	algin-itens: center;
	text-align: center;
}
	ul.nav{
		margin: 0px;
		padding: 0px;
		list-style-type: none;
		width: 90%;
		height: 40%;
		display: flex;

	}

ul.nav li ol{
	display:none;
	list-style-type: none;
	floot:none;
	width:100%;
	position: absolute;
	top: 100%;
	left: 0;
	z-index:1;
}
ul.nav li{
	position: relative;
	width: 13%;
	margin-right: 6%;	
	background-color: #D9753B;
	border: 1px solid gray;
	cursor: pointer;
	color: white;
	font-family: "Imperial Script", cursive;
	font-size:2vw;
}
	ul.nav li ol li{
		float: none;
		width: 100%;
		position: relative;
		top:0;
		left: 0;
		broder-top:0px;
		height: auto;
		background-color: white;
		border-botom: 1px solid purple;

}
ul.nav li:hover ol{
	display: block;

}
ul.nav li ol li a{
	display: block;
	text-decoration: none;
	color:orange;
	font-family: "Playfair Display", serif;
}
section.principal{
	width: 99vw;
	height: 89vh;
}
section.principal iframe{
	width: 100vw;
	height: 100vh;
	border:0px;
}
section.home{
	width: 80vw;
	height: 90vh;
	margin-left: 10vw;

}
section.home img{
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	animation-name: animacao;
	animation-duration: 4s;

}
@keyframes animacao{
	0%{
		max-width: 15%;
		max-height: 15%;
}
50%{
max-width: 50%;
max-height: 50%;
box-shadow: 6px 6px 6px #EF6034;
}
}
section.resposta,form{
	display: flex;
	text-align: center;
	flex-direction: column;
	width: 70vw;
	height: auto;
	margin-left: 15vw;
	/*background-color:;*/
	color:#808ABF;
	align-itens: center;
	border-radius: 16px;
	border: 1px ridge #808ABF;
	font-family: "lucida Handwriting",cursive;
	margin-top:15vh;

}
	section.resposta a, input[type=submit]{
	background-color: #808ABF;
	border:1px ridge black;
	color:white;
	font-family: "lucida Handwriting",cursive;
	font-size: 1vw; 
	border-radius: 16px;
	padding: 1%;
	text-decoration: none;
	margin-top: 2%;

}